SmokeSimulation.opensdf
SmokeSimulation.sdf
SmokeSimulation.v12.suo
Win32/Debug/SmokeSimulation.exe
Win32/Debug/SmokeSimulation.ilk
Win32/Debug/SmokeSimulation.pdb
SmokeSimulation/SmokeSimulation.vcxproj
SmokeSimulation/Debug/GLWidget.obj
SmokeSimulation/Debug/Icon.res
SmokeSimulation/Debug/main.obj
SmokeSimulation/Debug/moc_GLWidget.obj
SmokeSimulation/Debug/moc_smokesimulation.obj
SmokeSimulation/Debug/SmokeSimulation.Build.CppClean.log
SmokeSimulation/Debug/SmokeSimulation.log
SmokeSimulation/Debug/smokesimulation.obj
SmokeSimulation/Debug/solver.obj
SmokeSimulation/Debug/vc120.pdb
SmokeSimulation/Debug/SmokeSimulation.tlog/cl.command.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/CL.read.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/CL.write.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/custombuild.command.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/custombuild.read.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/custombuild.write.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/link.command.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/link.read.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/link.write.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/rc.command.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/rc.read.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/rc.write.1.tlog
SmokeSimulation/Debug/SmokeSimulation.tlog/SmokeSimulation.lastbuildstate
SmokeSimulation/GeneratedFiles/Debug/moc_GLWidget.cpp
SmokeSimulation/GeneratedFiles/Debug/moc_smokesimulation.cpp
SmokeSimulation/SmokeSimulation.vcxproj
SmokeSimulation/SmokeSimulation.vcxproj
SmokeSimulation/SmokeSimulation.vcxproj
SmokeSimulation/SmokeSimulation.vcxproj.user
SmokeSimulation/GeneratedFiles/Release/moc_GLWidget.cpp
SmokeSimulation/GeneratedFiles/Release/moc_smokesimulation.cpp
SmokeSimulation/Release/FluidS.Build.CppClean.log
SmokeSimulation/Release/GLWidget.obj
SmokeSimulation/Release/Icon.res
SmokeSimulation/Release/main.obj
SmokeSimulation/Release/moc_GLWidget.obj
SmokeSimulation/Release/moc_smokesimulation.obj
SmokeSimulation/Release/SmokeSimulation.log
SmokeSimulation/Release/smokesimulation.obj
SmokeSimulation/Release/solver.obj
SmokeSimulation/Release/SmokeSimulation.tlog/cl.command.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/CL.read.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/CL.write.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/custombuild.command.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/custombuild.read.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/custombuild.write.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/link.command.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/link.read.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/link.write.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/rc.command.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/rc.read.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/rc.write.1.tlog
SmokeSimulation/Release/SmokeSimulation.tlog/SmokeSimulation.lastbuildstate
SmokeSimulation/Release/SmokeSimulation.tlog/SmokeSimulation.write.1u.tlog
Win32/Release/FluidS.exe
Win32/Release/FluidS.exp
Win32/Release/FluidS.lib
SmokeSimulation/SmokeSimulation.vcxproj
SmokeSimulation/SmokeSimulation.vcxproj.user
SmokeSimulation/Makefile
SmokeSimulation/Makefile.Debug
SmokeSimulation/Makefile.Release
SmokeSimulation/SmokeSimulation.vcxproj
SmokeSimulation/SmokeSimulation.vcxproj.user
SmokeSimulation/Debug/fluids.exe
SmokeSimulation/Debug/fluids.ilk
SmokeSimulation/Debug/fluids.pdb
SmokeSimulation/Debug/icudt53.dll
SmokeSimulation/Debug/icuin53.dll
SmokeSimulation/Debug/icuuc53.dll
SmokeSimulation/Debug/moc_GLWidget.cpp
SmokeSimulation/Debug/moc_smokesimulation.cpp
SmokeSimulation/Debug/qt_ca.qm
SmokeSimulation/Debug/qt_cs.qm
SmokeSimulation/Debug/qt_de.qm
SmokeSimulation/Debug/qt_fi.qm
SmokeSimulation/Debug/qt_hu.qm
SmokeSimulation/Debug/qt_it.qm
SmokeSimulation/Debug/qt_ja.qm
SmokeSimulation/Debug/qt_ko.qm
SmokeSimulation/Debug/qt_lv.qm
SmokeSimulation/Debug/qt_ru.qm
SmokeSimulation/Debug/qt_sk.qm
SmokeSimulation/Debug/qt_uk.qm
SmokeSimulation/Debug/Qt5Cored.dll
SmokeSimulation/Debug/Qt5Guid.dll
SmokeSimulation/Debug/Qt5Svgd.dll
SmokeSimulation/Debug/Qt5Widgetsd.dll
SmokeSimulation/Debug/iconengines/qsvgicond.dll
SmokeSimulation/Debug/imageformats/qddsd.dll
SmokeSimulation/Debug/imageformats/qgifd.dll
SmokeSimulation/Debug/imageformats/qicnsd.dll
SmokeSimulation/Debug/imageformats/qicod.dll
SmokeSimulation/Debug/imageformats/qjp2d.dll
SmokeSimulation/Debug/imageformats/qjpegd.dll
SmokeSimulation/Debug/imageformats/qmngd.dll
SmokeSimulation/Debug/imageformats/qsvgd.dll
SmokeSimulation/Debug/imageformats/qtgad.dll
SmokeSimulation/Debug/imageformats/qtiffd.dll
SmokeSimulation/Debug/imageformats/qwbmpd.dll
SmokeSimulation/Debug/imageformats/qwebpd.dll
SmokeSimulation/Debug/platforms/qwindowsd.dll
SmokeSimulation/SmokeSimulation.vcxproj
SmokeSimulation/SmokeSimulation.vcxproj.user
SmokeSimulation/release/SmokeSimulation.tlog/unsuccessfulbuild
.vs/*
Debug/*
Release/*
SmokeSimulation/Debug/*
SmokeSimulation/release/*